:host {
  display: flex;
  flex: 1;
  .container {
    display: flex;
    flex: 1;
  }
  .left-column {
    width: 25%;
  }
  .right-column {
    width: 75%;
    > div {
      height: 50%;
    }
  }
  .column {
    padding: 0 0.5rem;
  }
  .afterSetupContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
  }
}
