<div class="container">
  <div class="column left-column">
    <h2 data-cy="setupFormTitle">Setup</h2>
    <ng-container *ngIf="showForm$ | async">
      <socketio-client-setup-form
        (submittedData)="connectToSocket($event)"
        [socketSetup]="socketSetup$ | async"></socketio-client-setup-form>
    </ng-container>
    <div
      *ngIf="socketSetup$ | async as socketSetup"
      class="afterSetupContainer">
      <ng-container *ngIf="(showForm$ | async) === false && !!socketSetup">
        <socketio-client-setup-info
          [socketSetup]="socketSetup!"
          (disconnectClicked)="disconnect()"></socketio-client-setup-info>

        <mat-accordion [multi]="true">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Subscription</mat-panel-title>
            </mat-expansion-panel-header>
            <socketio-client-subscription-form
              (channelSubscribed)="joinToChannel($event)">
            </socketio-client-subscription-form>
          </mat-expansion-panel>

          <ng-container *ngIf="channels$ | async as channels">
            <ng-container *ngIf="channels.length > 0">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Unsubscription</mat-panel-title>
                </mat-expansion-panel-header>
                <socketio-client-unsubscription-form
                  [channels]="channels"
                  (unsubscribedChannel)="leaveChannel($event)">
                </socketio-client-unsubscription-form>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Send message</mat-panel-title>
                </mat-expansion-panel-header>
                <socketio-client-message-form
                  [channels]="channels"
                  (messageSent)="sendMessage($event)">
                </socketio-client-message-form>
              </mat-expansion-panel>
            </ng-container>
          </ng-container>
        </mat-accordion>
      </ng-container>
    </div>
  </div>
  <div class="column right-column">
    <div class="logs-container">
      <h2>Messages</h2>
      <ng-container *ngIf="channels$ | async as channels">
        <socketio-client-channel-filter
          *ngIf="channels.length > 0"
          [channels]="channels"
          (selectedChannel)="
            filterChannelMessage($event)
          "></socketio-client-channel-filter>
      </ng-container>
      <ng-container *ngIf="messages$ | async as messages">
        <socketio-client-messages
          [messages]="messages"></socketio-client-messages>
      </ng-container>
    </div>
    <div class="logs-container">
      <h2>Logs</h2>
      <ng-container *ngIf="logs$ | async as logs">
        <socketio-client-logs [logs]="logs"></socketio-client-logs>
      </ng-container>
    </div>
  </div>
</div>
