<div class="container">
  <div class="column left-column">
    <h2 data-cy="setupFormTitle">Setup</h2>
    <ng-container *ngIf="showForm">
      <socketio-client-setup-form
        *ngIf="showForm"
        (submittedData)="connectToSocket($event)"
        [socketSetup]="socketSetup$ | async"></socketio-client-setup-form>
    </ng-container>
    <div
      *ngIf="socketSetup$ | async as socketSetup"
      class="afterSetupContainer">
      <ng-container *ngIf="!showForm && !!socketSetup">
        <socketio-client-subscription-form
          (channelSubscribed)="
            joinToChannel($event)
          "></socketio-client-subscription-form>
        <ng-container *ngIf="channels$ | async as channels">
          <ng-container *ngIf="channels.length > 0">
            <socketio-client-unsubscription-form
              [channels]="channels"
              (unsubscribedChannel)="
                leaveChannel($event)
              "></socketio-client-unsubscription-form>
            <socketio-client-message-form
              [channels]="channels"
              (messageSent)="
                sendMessage($event)
              "></socketio-client-message-form>
          </ng-container>
        </ng-container>
        <socketio-client-setup-info
          [socketSetup]="socketSetup!"
          (disconnectClicked)="disconnect()"></socketio-client-setup-info>
      </ng-container>
    </div>
  </div>
  <div class="column right-column">
    <div>
      <h2>Messages</h2>
      <ng-container *ngIf="channels$ | async as channels">
        <socketio-client-channel-filter
          *ngIf="channels.length > 0"
          [channels]="channels"
          (selectedChannel)="
            filterChannelMessage($event)
          "></socketio-client-channel-filter>
      </ng-container>
      <ng-container *ngIf="messages$ | async as messages">
        <socketio-client-messages
          [messages]="messages"></socketio-client-messages>
      </ng-container>
    </div>
    <div>
      <h2>Logs</h2>
      <ng-container *ngIf="logs$ | async as logs">
        <socketio-client-logs [logs]="logs"></socketio-client-logs>
      </ng-container>
    </div>
  </div>
</div>
