<div class="container">
  <div class="column left-column">
    <ng-container *ngIf='socket === undefined'>
      <h2 data-cy='setupFormTitle'>Setup</h2>
      <socketio-client-setup-form (submittedData)='setSocketSetup($event)'></socketio-client-setup-form>
    </ng-container>
  </div>
  <div class="column right-column">
    <div>
      <h2>Messages</h2>
    </div>
    <div>
      <h2>Logs</h2>
      <ng-container *ngIf='logs$ | async as logs'>
        <socketio-client-logs [logs]='logs'></socketio-client-logs>
      </ng-container>
    </div>
  </div>
</div>
