<form [formGroup]="form" data-cy="form" (ngSubmit)="submitForm()">
  <mat-form-field>
    <mat-label>Url</mat-label>
    <input type="text" matInput formControlName="url" data-cy="urlField" />
    <mat-error *ngIf="fc['url'].errors" data-cy="urlFieldError">
      <span *ngIf="fc['url'].hasError('required')">Url field is required</span>
      <span *ngIf="fc['url'].hasError('invalidWsAddress')"
        >Url is not a valid ws address</span
      >
    </mat-error>
  </mat-form-field>
  <div class="jsonEditorField">
    <json-editor
      #editor
      [options]="jsonEditorOptions"
      formControlName="config"
      data-cy="configField">
    </json-editor>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      data-cy="submitButton"
      [disabled]="form.invalid || !editor.isValidJson()">
      Connect
    </button>
  </div>
</form>
