@import '~jsoneditor/dist/jsoneditor.min.css';
@import 'prism-themes/themes/prism-one-light.css';
$green: #198754;
$cyan: #0dcaf0;
$yellow: #ffc107;
$red: #dc3545;

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

* {
  font-family: Nunito, 'Helvetica Neue', sans-serif;
}
.ace_editor * {
  font-family: consolas, monaco, 'lucida console', 'courier new', courier,
    monospace, sans-serif;
}

.log {
  font-weight: 500;
}

.text- {
  &log {
    color: black;
  }
  &info {
    color: $cyan;
  }
  &error {
    color: $red;
  }
  &warn {
    color: $yellow;
  }
  &success {
    color: green;
  }
}

.ace_editor.ace-jsoneditor {
  min-height: 20rem;
}

.token.string {
  white-space: pre-wrap;
  word-break: break-all;
}
